# PostgreSQL (dentro de Docker, el host es el nombre del servicio)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=logyca_sales
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Azure Storage (dentro de Docker)
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;

BLOB_CONTAINER_NAME=csv-uploads
QUEUE_NAME=csv-processing
BATCH_SIZE=5000
WORKER_POLL_INTERVAL=2