# Entornos virtuales
venv/
.venv/
env/

# Python (Archivos compilados y caché)
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Variables de entorno
.env
.env.docker
!.env.example
!.env.docker.example

*.log
.dockerignore